<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:#ffffff;margin:0 auto;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif">
  <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width:600px;margin:0 auto">
    <tr style="width:100%">
      <td>
        <table style="margin-top:32px" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
          <tbody>
            <tr>
              <td>
                <!-- <img alt="SuperCRM" src="https://www.supercrm.ai/images/assets/supercrm_logo.png" width="150" height="40" style="display:block;outline:none;border:none;text-decoration:none" /> -->
                <p style="font-size:30px;line-height:24px;margin:16px 0;text-align:center;vertical-align:middle">Bazar</p>
            </td>
            </tr>
          </tbody>
        </table>
        <h1 style="color:#1d1c1d;font-size:36px;font-weight:700;margin:30px 0;padding:0;line-height:42px">Confirm your email address</h1>
        <p style="font-size:20px;line-height:28px;margin:16px 0;margin-bottom:30px">Hi <%= user.first_name %>, Your confirmation code is below - enter it in your open browser window and we'll help you get signed in.</p>
        <table style="background:rgb(245, 244, 245);border-radius:4px;margin-right:50px;margin-bottom:30px;padding:43px 23px" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
          <tbody>
            <tr>
              <td>
                <!-- <p style="font-size:30px;line-height:24px;margin:16px 0;text-align:center;vertical-align:middle"><%= otp %></p> -->
              </td>
            </tr>
          </tbody>
        </table>
        <p style="font-size:14px;line-height:24px;margin:16px 0;color:#000">If you didn't request this email, there's nothing to worry about - you can safely ignore it.</p>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
          <tbody>
            <tr>
              <td>
                <table width="100%" style="margin-bottom:32px;padding-left:8px;padding-right:8px;width:100%" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0">
                  <tbody style="width:100%">
                    <tr style="width:100%">
                      <td style="width:66%">
                        <!-- <img alt="SuperCRM" src="https://www.supercrm.ai/images/assets/supercrm_logo.png" width="150" height="40" style="display:block;outline:none;border:none;text-decoration:none" /> -->
                    </td>
                      <td>
                        <table width="100%" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0">
                          <tbody style="width:100%">
                            <tr style="width:100%">
                              <td><a target="_blank" style="color:#067df7;text-decoration:none" href="https://twitter.com/cardinnovators"><img alt="SuperCRM" src="https://react-email-demo-ijnnx5hul-resend.vercel.app/static/slack-twitter.png" width="32" height="32" style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px" /></a></td>
                              <td><a target="_blank" style="color:#067df7;text-decoration:none" href="https://www.facebook.com/cardinnovators"><img alt="SuperCRM" src="https://react-email-demo-ijnnx5hul-resend.vercel.app/static/slack-facebook.png" width="32" height="32" style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px" /></a></td>
                              <td><a target="_blank" style="color:#067df7;text-decoration:none" href="https://www.linkedin.com/company/cardinnovators"><img alt="SuperCRM" src="https://react-email-demo-ijnnx5hul-resend.vercel.app/static/slack-linkedin.png" width="32" height="32" style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px" /></a></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
          <tbody>
            <tr>
              <td><a target="_blank" style="color:#b7b7b7;text-decoration:underline" href="https://www.cardinnovators.com" rel="noopener noreferrer">Our blog</a>   |   <a target="_blank" style="color:#b7b7b7;text-decoration:underline" href="https://www.cardinnovators.com/policy" rel="noopener noreferrer">Policies</a>   |   <a target="_blank" style="color:#b7b7b7;text-decoration:underline" href="https://www.cardinnovators.com/contact" rel="noopener noreferrer">Contact Us</a>
                <p style="font-size:12px;line-height:15px;margin:16px 0;color:#b7b7b7;text-align:left;margin-bottom:50px">©2024 Bazar    |   All rights reserved.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>